<h2>Dashboard</h2>
<% if current_user.admin? %>
  <% if @facade.projects.present? %>
    <div id="existing-projects">
    <h3>Existing Project Board Templates</h3>
    <ol>
    <% @facade.projects.each do |project| %>
      <li><%= link_to project.name, admin_project_path(project) %>, created by <%= project.user.name %> / <%= project.user.email %></li>
    <% end %>
    </ol>
    </div>
  <% end %>
  <hr />

  <div id="new-project">
  <h3>New Project</h3>
  <div class="col-4">
    <%= form_for [:admin, @facade.project] do |f| %>
      <h4>Step 1.</h4>
      <p>
        Let's give your project a name:
        <%= f.text_field :name, class: "block col-12 field" %>
        <em>e.g. BE3 - Brownfield</em><br>
        <em>This is used to find the project later and will not impact anything on GitHub.</em>
      </p>
      <h4>Step 2.</h4>
      <p>
        Paste in the link of the project board you'd like to clone:
        <%= f.text_field :project_board_base_url, class: "block col-12 field" %>
        <em>e.g. https://github.com/turingschool/your-repo/projects/1</em><br>
        <em>Notice this is a link to a project and not a repo.</em>
      </p>
      <%= f.submit 'Create', class: "mt2 btn btn-primary mb1" %>
    <% end %>
  </div>
  </div>
<% else %>
  <p>Hi <%= current_user.nickname %>!</p>
  <p>We've been expecting you. There's not much to do here unless a Turing School staff member sends you a special link. If you've already received a link from a staff member, try visiting it again. Otherwise, sit tight. You should receive something shortly.</p>
  <p>Your Pal,<br>HAL 9000</p>
<% end %>
