<h3><%= @project.name %></h3>
<ul>
  <li><strong>Link to send students:</strong> <%= link_to new_project_clone_url(project_id: @project.hash_id), new_project_clone_url(project_id: @project.hash_id) %></li>
  <li><strong>Project Board:</strong> <%= link_to @project.board_url, @project.board_url %></li>
</ul>

<table>
  <tr>
    <th>Students</th>
    <th>Repo URL</th>
  </tr>
  <% @project.clones.each do |clone| %>
    <tr>
      <td><%= clone.students %></td>
      <td><%= link_to clone.url, clone.url %></td>
    </tr>
  <% end %>
</table>
