
<div class="col-5 mt2">
  <% if current_user %>
    <h3>Hello. We'll setup a project board just for you.</h3>
    <%= form_for [@project, @clone] do |f| %>
      <%= hidden_field_tag :project_hash_id, @project.hash_id  %>
      <p class="mt2">
        <strong>Who will be working on this project?</strong>
        <%= text_field_tag :students, "" , class: "block col-12 field"  %>
        <em>e.g. <strong>Leslie Knope</strong> if solo; <strong>Leslie Knope and Duke Silver.</strong> if a team project.</em>
      </p>
      <p class="mt2">
        <strong>We'll send you an email when everything is finished. Where would you like us to send to?</strong>
        <%= text_field_tag :email, "" , class: "block col-12 field"  %>
      </p>
      <%= f.submit "Submit", class: "mt2 btn btn-primary mb1"  %>
    <% end %>
  <% else %>
    <p>Please <%= link_to "sign in with GitHub", "/auth/github" %> to submit.</p>
  <% end %>
</div>
