<h2><%= @project.name %></h2>
<h3>Repo Submission</h3>

<h4><span class="red">IMPORTANT!</span> (sorry for yelling): Please add <span class="blue"><%= @project.user.nickname %></span> as a collaborator to your repo before filling out the form below or this will not work.</h4>

<div class="col-4 mt2">
  <%= form_for [@project, @clone] do |f| %>
    <%= hidden_field_tag :project_hash_id, @project.hash_id  %>
    <p>
    <strong>Student Name(s)</strong>
      <%= f.text_field :students, class: "block col-12 field"  %>
      <em>(e.g. Josh, Mike D.)</em>
    </p>

    <p>
    <strong>Link to your Github repo</strong>
    <%= text_field_tag :repo_url, nil, { class: "block col-12 field"}  %>
    <em>(e.g. https://github.com/jmejia/test-app)</em>
    </p>

    <%= f.submit "Submit", class: "mt2 btn btn-primary mb1"  %>
  <% end %>
</div>
